@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
.container {
  display: flex;
  max-width: 1440px;
  margin: 12vh auto;
  justify-content: center;
  align-content: center;
  
}

.container > * {
  width: 150px

}
body {
  background-color: hsl(0, 0%, 95%);
  
}
.one {
  background-color: hsl(31, 77%, 52%);
  padding: 50px 50px 0 50px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  
}

.two {
  background-color: hsl(184, 100%, 22%);
  padding: 50px 50px 0 50px;
}

.three {
  background-color: hsl(179, 100%, 13%);
  padding: 50px 50px 0 50px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}



h1{
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  font-family:'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  font-weight: bolder;
}

p {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  line-height: 2;
  padding-bottom: 60px;
}

.button_1 {
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border-radius: 50px;
  margin: auto auto 40px 0px;
  padding: 15px 30px 15px 30px;
  font-weight: bold;


}

.button_2 {
  display: flex;
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  display: inline-block;
  border-radius: 50px;
  margin: auto auto 40px 0px;
  padding: 15px 30px 15px 30px;


  font-weight: bold;
  

}

.button_3 {
  display: flex;
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  display: inline-block;
  border-radius: 50px;
  margin: auto auto 40px 0px;
  padding: 15px 30px 15px 30px;
  font-weight: bold;

}

@media (max-width: 800px) {

  .container {
    flex-direction: column;
    margin: 5vh auto;
    align-items: center;
  }
    .one {

      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border-bottom-left-radius: 0;
    }
    
    .three {
 
      border-top-right-radius: 0px;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;

    }
  }
